<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Confirm Selection</title>
        <style>
            body {
                background-color: #f5f5f5;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 14px;
                line-height: 1.42857143;
                color: #333;
                margin: 0;
                padding: 0;
            }

            .container {
                width: 600px;
                margin: 0 auto;
                padding: 0;
            }

            .header {
                background-color: #fff;
                border-bottom: 1px solid #e5e5e5;
                padding: 20px;
            }

            .header h1 {
                margin: 0;
                font-size: 24px;
                line-height: 1.3333333;
                color: #333;
            }

            .content {
                background-color: #fff;
                padding: 20px;
            }

            .content h1 {
                margin: 0;
                font-size: 24px;
                line-height: 1.3333333;
                color: #333;
            }

        </style>
    </head>

    <body>
        <main class="container">
            <div class="header">
                <h1>Confirm Selection</h1>
            </div>
            <div class="content">
                <p>You have selected the following:</p>
                <ul>
                    <li>
                        <b>Name:</b>
                        <%= itemName %>
                    </li>
                    <li>
                        <b>Description:</b>
                        <%= itemDescription %>
                    </li>
                    <li>
                        <b>Price:</b>
                        <%= itemPrice %>
                    </li>
                    <li>
                        <b>Use:</b>
                        <%= itemUse %>
                    </li>
                    <li>
                        <b>Path:</b>
                        <%= itemPath %>
                    </li>
                    <li>
                        <b>Name:</b>
                        <%= itemUnique %>
                    </li>
                </ul>

                <p>Are you sure you want to add this to your cart?</p>
                <form method="GET" action="/">
                    <input type="submit" name="submit" value="Yes">
                    <input type="submit" name="submit" value="No">
                </form>
            </div>
        </main>
    </body>

</html>
